<div class="leave-main">
    <div class="col-sm-6">
        <div class="request-col">
            <h2 class="rep">Receipt</h2>
            <form >
                <ul>
                    <label for="facultyName">Book Name:</label>
                    <li><input type="text" ngModel name="facultyName"></li>
                    <br>
                    <!-- <label for="facultyID">User ID:</label>
                    <li><input type="text" ngModel name="facultyID"></li>
                    <br> -->
                    <!-- <label for="facultyReason">User Password:</label>
                    <li><input type="password" ngModel name="facultyReason" ></li>
                    <br> -->
                    <!-- <label for="facultyID">For How Many Days do u need it :</label>
                    <li><input type="text" ngModel name="facultyID"></li>
                    <br> -->
                    <!-- <label for="startDate">Date From:</label>
                    <li><input type="date" ngModel name="startDate"></li>
                    <br> -->
                    <!-- <label for="endDate">Date:</label>
                    <li><input type="date" ngModel name="endDate"></li>
                    <br> -->
                    <button class="btn btn-sm btn-primary">Receipt Gen.</button>

                </ul>
            </form>
        </div>
    </div>
    
