<div class="leave-main">
  <div class="col-sm-6">
      <div class="request-col">
          <!-- <h2 class="user">Cancellation Of User</h2> -->
          <div class="user-data">
              <h1 class="data">View User Data</h1> <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">User Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Cancel</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>admin</td>
                    <td>admi@gmail.com</td>
                    <td><button [routerLink]="['metingnotifiation']" routerLinkActive="router-link-active" class="btn btn-sm btn-danger">Cancel</button></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>admin1</td>
                    <td>sdsa@gmail.com</td>
                    <td><button [routerLink]="['metingnotifiation']" routerLinkActive="router-link-active" class="btn btn-sm btn-danger">Cancel</button></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>ashu</td>
                    <td>gahsjs@gmail.com</td>
                    <td><button [routerLink]="['metingnotifiation']" routerLinkActive="router-link-active" class="btn btn-sm btn-danger">Cancel</button></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>kaju</td>
                    <td>dfghg@gmail.com</td>
                    <td><button [routerLink]="['metingnotifiation']" routerLinkActive="router-link-active" class="btn btn-sm btn-danger">Cancel</button></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
      </div>
  </div>

